<html>
<head>

</head>
<body>
  <button id = "rect" (click)="rectangle()">Rect</button>
  <button id = "ellipse" (click)="ellipse()">Ellipse</button>
  <button id = "line" (click)="line()">Line</button>
  <button id = "polyline" (click)="polyline()">Polyline</button>
  <button id = "polygon" (click)="polygon()">Polygon</button>
  <button id = "free" (click)="free()">Free</button>
  <br>
  <svg style="margin: 10px; background: gray" id="svgContainer" width="500px" height="1000px">

  </svg>
</body>
</html>
