<html>
<head>

  <title></title>
</head>
<body>
  <span id="tool-name"></span>
  <button id="select" (click)="select()">Select</button>
  <button id="edit" (click)="edit()">Edit</button>
  <button id="ellipse" (click)="ellipse()">Ellipse</button>
  <button id="rect" (click)="rectangle()">Rect</button>
  <button id="line" (click)="line()">Line</button>
  <button id="polyline" (click)="polyline()">Polyline</button>
  <button id="polygon" (click)="polygon()">Polygon</button>
  <button id="free" (click)="free()">Free</button>
  <span id="coordinates"></span>
  <br>
  <svg id="svgContainer" width="2000px" height="2000px" >

  </svg>
</body>
</html>
