body{
  font-size: 14px;
}
svg {
  border-style: solid;
  border-width: 1px;
  border-color: #333;
  background: #FFF;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#tool-name {
  display: inline-block;
  width: 100px;
}

#width {
  width: 60px;
}

.btn-default {
  border: 1px solid #cecece;
  color: #333;
  padding: 4px 8px;
  margin-right: 3px;
  margin-bottom: 3px;
  background: #fff;
  font-size: 14px;
}
.btn-default.active{
  background: #ddf2df;
  border-color: #b5deb9;
}
input[type=color] {
  width: 31px;
  padding: 4px;
}

.separator {
  width: 1px;
  height: 31px;
  background: #cecece;
}
