<html>
<head>
  <title></title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid py-2">
  <div class="d-flex flex-wrap">
    <button class="btn btn-default" id="select" (click)="select()" title="Select">
      <img src="../assets/img/cursor-arrow.svg" height="17" alt="">
    </button>
    <button class="btn btn-default" id="edit" (click)="edit()" title="Edit">
      <img src="../assets/img/edit-node.svg" height="17" alt="">
    </button>
    <button class="btn btn-default" id="ellipse" (click)="ellipse()" title="Circle">
      <img src="../assets/img/draw-ellipse.svg" height="17" alt="">
    </button>
    <button class="btn btn-default" id="rect" (click)="rectangle()" title="Rectangle">
      <img src="../assets/img/draw-rectangle.svg" height="17" alt="">
    </button>
    <button class="btn btn-default" id="triangle" (click)="triangle()" title="Isosceles triangle">
      <img src="../assets/img/draw-triangle.svg" height="17" alt="">
    </button>
    <button class="btn btn-default" id="right-triangle" (click)="rightTriangle()" title="Right Triangle">
      <img src="../assets/img/draw-right-triangle.svg" height="17" alt="">
    </button>
    <button class="btn btn-default" id="line" (click)="line()" title="Segment">
      <img src="../assets/img/draw-line.svg" height="17" alt="">
    </button>
    <button class="btn btn-default" id="polyline" (click)="polyline()" title="Polyline">
      <img src="../assets/img/polyline.svg" height="17" alt="">
    </button>
    <button class="btn btn-default" id="polygon" (click)="polygon()" title="Polygon">
      <img src="../assets/img/polygon.svg" height="17" alt="">
    </button>
    <button class="btn btn-default" id="free" (click)="free()" title="Free">
      <img src="../assets/img/pen.svg" height="17" alt="">
    </button>
    <button class="btn btn-default me-0" id="text-box" (click)="textBox()" title="Text Box">
      <img src="../assets/img/draw-textBox.svg" height="17" alt="">
    </button>

    <div class="separator mx-2"></div>
<!--        <button class="btn btn-default" id="toPath" (click)="toPath()">Combine</button>-->
<!--        <div class="separator mx-2"></div>-->

    <button class="btn btn-default" id="grid" (click)="grid()" title="Grid">
      <img src="../assets/img/grid.svg" height="17" alt="">
    </button>
    <div class="align-items-center me-1">
      <input (change)="gridSideChange($event)" title="Grid size" type="number" class="input form-control form-control-sm" id="gridSide" value="20" step="1" min="5" max="99">
    </div>
    <button class="btn btn-default" id="snap" (click)="snap()" title="Snap to Grid">Snap</button>

    <div class="separator mx-2"></div>
    <button class="btn btn-default" id="group" title="Group two or more elements" disabled (click)="group()">Group</button>
    <button class="btn btn-default" id="ungroup" title="Ungroup a group" disabled (click)="ungroup()">Ungroup</button>

    <div class="separator mx-2"></div>
    <button class="btn btn-default" (click)="demoVideo()" title="Place Demo Video">Demo Video</button>
    <button class="btn btn-default" (click)="demoImage()" title="Place Demo Image">Demo Image</button>
    <button class="btn btn-default" (click)="demoAsset()" title="Place Demo Problem">Demo Problem</button>

  </div>

  <div class="d-flex flex-nowrap mb-3">
    <div class="row align-items-center g-0 me-2">
      <div class="col-auto me-2">stroke</div>
      <div class="col"><input (change)="strokeWidthChange($event)" type="number" class="input form-control form-control-sm" id="stroke-width" value="5" step="1" min="1" max="99"></div>
    </div>
    <div class="row align-items-center g-0 me-2">
      <div class="col-auto me-2">stroke color</div>
      <div class="col">
        <div class="input-group">
          <input (change)="strokeColorChange($event)" type="color" id="stroke-color" class="form-control form-control-sm">
          <button class="btn btn-default" type="button" (click)="transparentStroke()">
            <img src="../assets/img/close.svg" height="17" alt="">
          </button>
        </div>
      </div>
    </div>
    <div class="row align-items-center g-0 me-2">
      <div class="col-auto me-2">fill color</div>
      <div class="col">
        <div class="input-group">
          <input (change)="fillColorChange($event)" type="color" id="fill-color" class="form-control form-control-sm">
          <button class="btn btn-default" type="button" (click)="transparentFill()">
            <img src="../assets/img/close.svg" height="17" alt="">
          </button>
        </div>
      </div>
    </div>
    <span id="coordinates" class="ms-auto"></span>
  </div>

  <button class="btn btn-default" (click)="copyFocused()" title="Ctrl + C">Copy</button>
  <button class="btn btn-default" (click)="cutFocused()" title="Ctrl + X">Cut</button>
  <button class="btn btn-default" (click)="paste()" title="Ctrl + V">Paste</button>
  <button class="btn btn-default" (click)="selectAll()" title="Ctrl + A">Select All</button>
  <button class="btn btn-default" (click)="delete()" title="Del">Delete</button>
  <button class="btn btn-default" (click)="orderTop()" title="To Top (Shift + PageUp)">
    <img src="../assets/img/order-top.svg" height="17" alt="">
  </button>
  <button class="btn btn-default" (click)="orderBottom()" title="To Bottom (Shift + PageDown)">
    <img src="../assets/img/order-bottom.svg" height="17" alt="">
  </button>
  <button class="btn btn-default" (click)="recenterRefPoint()" title="Recenter Reference Point">
    <img src="../assets/img/recenter-reference-point.svg" height="17" alt="">
  </button>

  <svg id="svgContainer" width="100%" height="100vh" >

  </svg>
</div>
</body>
</html>
